<!doctype html>
<html ng-app="listApp">
<head>
  <title>Home Page</title>
  <!--inject:css-->
  <link rel="stylesheet" href="/src/public/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/src/public/stylesheets/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="/src/public/stylesheets/style.css">
  <!--endinject-->
</head>
<body ng-controller="listCtrl">
  <h1>Blog!</h1>
  <header>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/article">Some Article</a></li>
    </ul>
  </header>

  <button ng-click="click(n)" ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11] track by $index">
    {{n}}班
  </button>

  <table border=1">
    <tr>
      <th>ID</th>
      <th>班</th>
      <th>氏名</th>
      <th>洗礼名</th>
      <th>生年月日</th>
      <th>{{count}}</th>
    </tr>
    <tr ng-repeat="entry in entries track by $index" ng-click="setEntry(entry)">
      <td>{{entry.id}}</td>
      <td>{{entry.team}}</td>
      <td>{{entry.fullname}}</td>
      <td>{{entry.christian_name}}</td>
      <td>{{entry.birthday}}</td>
    </tr>
  </table>

  <form ng-submit="submit()">
    <table>
      <tr>
        <td>id</td>
        <td><input
            type="text" ng-model="filledEntry.id" name="id"/></td>
      </tr>
      <tr>
        <td>team</td>
        <td><input
            type="text" ng-model="filledEntry.team" name="team"/></td>
      </tr>
      <tr>
        <td>fullname</td>
        <td><input type="text" ng-model="filledEntry.fullname" name="fullname"/><td>
      </tr>
      <tr>
        <td>christian_name</td>
        <td><input
            type="text" ng-model="filledEntry.christian_name" name="christian_name"/></td>
      </tr>
      <tr>
        <td>birthday</td>
        <td><input type="text" ng-model="filledEntry.birthday" name="birthday"/></td>
      </tr>
      <tr>
        <td>telephone</td>
        <td><input type="text" ng-model="filledEntry.telephone" name="telephone"/></td>
      </tr>
      <tr>
        <td>postcode</td>
        <td><input type="text" ng-model="filledEntry.postcode" name="postcode"/></td>
      </tr>
      <tr>
        <td>address</td>
        <td><input type="text" ng-model="filledEntry.address" name="address"/></td>
      </tr>
      <tr>
        <td><input type="submit" id="submit" value="submit"/></td>
        <td></td>
      </tr>
    </table>

    <pre>list={{list}}</pre>
    <pre>id={{id}}</pre>
    <pre>team={{team}}</pre>
    <pre>fullname={{fullname}}</pre>
    <pre>christian_name={{christian_name}}</pre>
    <pre>birthday={{birthday}}</pre>
    <pre>telephone={{telephone}}</pre>
    <pre>postcode={{postcode}}</pre>
    <pre>address={{addres}}</pre>
  </form>

  <div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
      </div>
      <div class="modal-body">
        <ul>
          <li ng-repeat="item in items">
            <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
          </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
    </script>
    <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
    <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
  </div>


  <p>Nothing here {{'yet' + '!'}}</p>
  <!--script type="text/javascript" src="javascripts/angular.js"></script-->
  <!-- bower:js -->
  <script src="../../bower_components/jquery/dist/jquery.js"></script>
  <script src="../../bower_components/angular/angular.js"></script>
  <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- endbower -->
  <!-- inject:js -->
  <script src="/src/public/javascripts/angular.js"></script>
  <script src="/src/public/javascripts/bootstrap.js"></script>
  <script src="/src/public/javascripts/controller.js"></script>
  <script src="/src/public/javascripts/ui-bootstrap-tpls.js"></script>
  <script src="/src/public/javascripts/ui-bootstrap.js"></script>
  <!-- endinject -->
  <script type="text/javascript" src="javascripts/controller.js"></script>
</body>
</html>
